* {
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    text-align: center;
    background-image: url('https://images.pexels.com/photos/1252890/pexels-photo-1252890.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: contain;
}

h1 {
    color: white;
}

/* Use this class to hide stuff*/
.hidden {
    display: none;
}

.latest-articles-container{
    display: grid;
    grid-template-columns: auto auto;
}

.latest-article{
    color: black;
    background: white;
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
}